.direction_element, .meniuL, .meniuL_left, .meniuL_right, .divServices, .container, .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --text-welcome: #907864;
  --text-quote: rgb(7, 7, 7);
  --text-quote2: rgba(128, 128, 128, .9);
  --text-header: #fff;
  --text-logo: #212529;
  --text-logo: dimgrey;
}

header {
  height: 166px;
  width: 100%;
  background-color: black;
}

.meniuL {
  display: display;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}

.meniuL_logo {
  width: 300px;
  height: 122px;
}

.meniuL_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meniuL_left {
  gap: 40px;
  font-size: 13px;
  font-weight: 400;
  color: #907864;
  letter-spacing: 2.33px;
}

.meniuL_left a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2.33px;
}

.meniuL_left_dropDown {
  display: none;
  position: absolute;
  background-color: #000000;
  padding: 20px 20px;
}

.meniuL_left_dropDown li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2.33px;
}

.meniuL_left li:hover .meniuL_left_dropDown {
  display: block;
}

.meniuL_right {
  gap: 40px;
}

.meniuL_right a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2.33px;
}

.divImage {
  width: 100%;
  height: 668px;
}

.divImage2 {
  position: relative;
  width: 100%;
  height: 676px;
}

.divImage2_hello {
  position: absolute;
  width: 315px;
  height: 79px;
  object-fit: cover;
  top: 30%;
  left: 70%;
}

.divImage2_text {
  position: absolute;
  height: 10px;
  width: 349px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 300px;
  top: 40%;
  left: 70%;
}

.divImage2_xo {
  position: absolute;
  width: 141px;
  height: 81px;
  object-fit: cover;
  top: 70%;
  left: 75%;
}

.divImage3 {
  width: 100%;
  height: 647px;
}

.divServices {
  width: 100%;
  height: 419px;
  display: display;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.divServices img {
  width: 315px;
  height: 209px;
  gap: 20px;
}

.divImage4 {
  width: 100%;
  height: 613px;
}

.divImage5 {
  position: relative;
  width: 100%;
  height: 889px;
}

.divImage5_foto {
  border: 2px solid black;
  background: #fff;
  padding: 15px 15px;
}

.divImage5_text, .divImage5_foto {
  width: 350px;
  height: 500px;
}

.divImage5_text button, .divImage5_foto button {
  background-color: transparent;
  border: 2px solid black;
  padding: 13px 26px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: 80px;
}

.divImage5_text h1, .divImage5_foto h1 {
  color: dimgrey;
  font-size: 72px;
  font-weight: 400;
  font-style: italic;
}

.divImage5_text p, .divImage5_foto p {
  color: rgba(128, 128, 128, 0.9);
  font-size: 16px;
  line-height: 1.6em;
}

.container {
  position: absolute;
  justify-content: center;
  gap: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 525px;
}

.contact img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.contact_address {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 150px;
  padding-left: 350px;
}

.contact_address h3 {
  color: #fff;
  font-size: 18px;
  font-family: ltc-bodoni-175;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: .05em;
}

.containerF {
  width: 101%;
  height: 299px;
  background: #000000;
  margin-top: 525px;
}
